// Athena atcommand Local Configuration file.

// Set here the symbol that you want to use for your commands
// Only 1 character is get (default is '@'). You can set any character,
// except control-character (0x00-0x1f), '%' (party chat speaking) and '/' (standard ragnarok GM commands)
// With default character, all commands begin by a '@': <example> @revive
command_symbol: @


// 0: normal player commands

// Displays helpfile in Athena base directory.
help: 0

// Give server time. (6 same commands)
time: 0
date: 0
server_date: 0
serverdate: 0
server_time: 0
servertime: 0

// To change your (own) email (characters protection)
// note: this command doesn't check email itself, but check structure of the email (xxx@xxx)
//       if you want be sure of each e-mail disable this option (value: 100)
email: 0

// To become GM (need password; password is set in login_athena.conf).
// special!: only a non-GM (player with gm level 0) need to have this command.
//           if you change the value, be sure of what you do!
// To be able to create a gm with @gm, you must:
// - give a level to level_new_gm (parameter of login_athena.conf) (not 0)
// - enable to level 0 the @gm command (atcommand_athena.conf) (default 100) - Only level 0 can give access to this command
// - enable gm commands to normal player (battle_athena.conf, atcommand_gm_only parameter)
// - and normal player must give correct password when he use the @gm command (gm_pass paramter in login_athena.conf)
gm: 100

//=====================================================================
// GM 20 - DESENVOLVEDOR
//=====================================================================

// Returns list of logged in characters with their position.
who: 20

// GM Hide (hides you from monsters and most reporting functions).
// To hide from other players use @invisible
hide: 20

// Sets your spawn point (aka save point).
save: 20

// Warps you to your last save point.
return: 20

// Send text to the GM log
log: 20
l: 20

// Send text to the GM log and local chat
tee: 20
t: 20

// Warp yourself to a person.
goto: 20

// iterate over players
// forward
hugo: 20
// backward
linus: 20

// Enables a NPC.
enablenpc: 20

// Disables a NPC.
disablenpc: 20

// Warp yourself to a certain map, at (x,y) coordinates.
warp: 20

// Shows information about the map
mapinfo: 20

//=====================================================================
// GM 40 - FISCAL
//=====================================================================

// Locate someone on a map, returns your coordinates if the person isn't on.
where: 40

// follow a player (including warping to them)
follow: 40

// Sets the speed you can walk/attack at. Default is 150.
speed: 40

// Enables you to view other characters stats.
charstats: 40

// Shows Stats Of All Characters Online
charstatsall: 40

// Display all items of a player (disabled due to reformed GM guidelines)
charitemlist: 40

// Display all items of a player's storage (disabled due to reformed GM guidelines)
charstoragelist: 40

// make yourself invisible to everyone
invisible: 40

// make yourself visible to everyone
visible: 40

// Sets another persons base level.
charblvl: 40

// Warps a character to you
recall: 40

// To block definitively a player
block: 40

// To ban a player for a limited time
ban: 40

// Check which characters are online from a characters IP address
ipcheck: 40

//=====================================================================
// GM 60 - ANIMADOR
//=====================================================================

// Kills everyone on the map you are on.
doommap: 60

// Recalls Everyone To Your Coordinates
recallall: 60

// Turns PVP (Person v. Person) off on a map.
pvpoff: 60

// Enables PVP on a map.
pvpon: 60

// Spawns a monster, and a certain amount
spawn: 60

//Summons a monster, and a certain amount
summon: 60

// Kill all monsters in map (without drops)
killmonster2: 60

// Broadcast to the whole server
broadcast: 60

// Broadcast (with or without name).
kami: 60
kamib: 60

// Broadcast to the map you are on
local_broadcast: 60

//=====================================================================
// GM 80 - PRIME
//=====================================================================

// Returns list of logged in characters with their party/guild.
whogroup: 80

// Like @who+@who2+who3, but only for GM.
whogm: 80

// Disconnects a user from the server (1 command + right click menu for GM "(name) force to quit").
kick: 80

// drop a players possessions on the ground
chardropall: 80

// put a players possessions in storage
charstoreall: 80

// To unblock a player
unblock: 80

// To unban a player
unban: 80

//Allows you to spy on any party's party chat. (at least one party member must be online.)
partyspy: 80

// Warps all online character of a party to you. (at least one party member must be online.)
partyrecall: 80

// ??
itemcheck: 80

//=====================================================================
// GM 99 - ADMINISTRADOR
//=====================================================================

//-------------------------
// 40: "Dev"

// Suicide your character.
die: 99

// Spawns you to set points in major cities.
go: 99

// Returns list of logged in characters with their position in a specifical map.
whomap: 99

// Returns list of logged in characters with their party/guild in a specifical map.
whomapgroup: 99

// Heals a person to full HP/SP.
heal: 99

// Enables you to to jump randomly on a map (that you are already on).
jump: 99

// Changes GM clothes color (2 same commands)
dye: 99
ccolor: 99

// Changes own hair style.
hairstyle: 99

// Changes own hair color.
haircolor: 99

// Deletes all your items.
itemreset: 99

//--------------------
// 60: "GM"

// Enable all wispers for a player
inall: 99

// Disable all wispers for a player
exall: 99

// Kill all monsters in map (with drops)
killmonster: 99

// store all your items
storeall: 99

// allow other players to hit you out of pvp
killable: 99

// look up a skill by name
skillid: 99

// use a skill by id
useskill: 99

// make another player killable
charkillable: 99

// Resurects yourself.
alive: 99

// Levels your character to specified level (adds to your level).
blvl: 99

// Raises your job level (3 same commands).
jlvl: 99

// Unmute a player
unmute: 99

// Changes the sex of an online player (all characters on the account)
charchangesex: 99

// Remove items from a character
chardelitem: 99

// Sets another persons job level.
charjlvl: 99

// Gives another character status points
charstpoint: 99

// Gives another character skill points
charskpoint: 99

// Resets another character's stats
charreset: 99

// Resets another character's status, skills
charstreset: 99
charskreset: 99

// resets a char back to when it was first created
charwipe: 99

// Saves the respawn point of another character.
charsave: 99

// Kill another character without hitting them.
kill: 99

// Enable hitting a player even when not in pvp
killer: 99

// Revives a character, and heals them.
revive: 99

// Warp another person to a certain map, at (x,y) coordinates
charwarp: 99

// Change Status of your character
str: 99
agi: 99
vit: 99
int: 99
dex: 99
luk: 99

// Gets all skills
allskills: 99

// sets GM stats to maximum
allstats: 99

// Gives you job points.
stpoint: 99

// Gives you skill points of desired amount.
skpoint: 99

// To send specified character in jails
jail: 99

// To discharge a prisoner
unjail: 99

//----------------------
// 80: "eA Dev"

// set magic properties on a char
setmagic: 99

// list magic properties on a char
magicinfo: 99

// Set your character display options. (Visual effects of your character)
option: 99

// Gives you money (zeny) of desired amount.
zeny: 99

// Changes another character's zenny
charzeny: 99

// Set options on another character.
charoption: 99

// Create a static warp portal that lasts until the next reboot
addwarp: 99

// Set the map you are on to day.
day: 99

// Kills everyone on the server.
doom: 99

// Set the map you are currently on to night.
night: 99

// Revives all players on the map.
raisemap: 99

// Revives all players on the server.
raise: 99

// Move a NPC
npcmove: 99

// turn skills on for a map
skillon: 99

// turn skills off for a map
skilloff: 99

// Enables lost skills.
lostskill: 99

// find id of item by name
idsearch: 99

// Creates an item of your choosing, either Item ID or Name (1 command + /item).
item: 99

// Creates weapon of desired element.
produce: 99


//---------------------------
// 99: "Admin"

// drop all your items
dropall: 99

// Enables GVG on a map (2 same commands).
gvgon: 99
gpvpon: 99

// Turns GVG (Guild v. Guild) off on a map (2 same commands).
gvgoff: 99
gpvpoff: 99

// Enables platinum skills.
questskill: 99

// Display your ignore list (people from which you ignore wisps)
ignorelist: 99

// Display ignore list of a player (people from which the player ignore wisps)
charignorelist: 99

// Brings up your guild storage wherever you are.
gstorage: 99

// Do some visual effect on your character
effect: 99

// Changes character's model
charmodel: 99

// Starts Guild Wars
agitstart: 99

// Ends Guild Wars
agitend: 99

// Levels your guild to specified level
guildlvl: 99

// craete a party/guild
guild: 99
party: 99

// Warps all online character of a guild to you. (at least one member of that guild must be on.)
guildrecall: 99

// Allows you to spy on any Guilds Guild chat. (at least one member of that guild must be on.)
guildspy: 99

// Saves a warp point.
memo: 99

// To get a peco to (un)ride for another player.
charmountpeco: 99

// Change your appearence to other players to a mob.
disguise: 99

//Restore your normal appearance.
undisguise: 99

// To change disguise of another player/GM
chardisguise: 99
charundisguise: 99

// Display all items of a player's cart (disabled due to reformed GM guidelines)
charcartlist: 99

// Enables platinum skills of another player.
charquestskill: 99

// Enables lost skills of another player.
charlostskill: 99

// Changes your apperance.
model: 99

// To get a peco to (un)ride
mountpeco: 99

// Disconnect all users from the server
kickall: 99

// Closes Map-Server
mapexit: 99

// Give information about terrain/area (debug function)
gat: 99

// Enables debugging
packet: 99

// Re-load item database (admin command)
reloaditemdb: 99

// Re-load monsters database (admin command)
reloadmobdb: 99

// Re-load skills database (admin command)
reloadskilldb: 99

// Re-load scripts (admin command)
reloadscript: 99

// Re-load GM level (admin command)
reloadgmdb: 99

// Brings up your personal storage wherever you are.
storage: 99
