// put at first, the minimum level to display the line
  0:Para usar um comando bsta digitá-lo na janela de chat.
  0:@help - Mostra esta ajuda.
  0:@email <atual@email> <novo@email> - para mudar seu email (Proteção para o Char)
 80:
 80:@setmagic
 80:@magicinfo
  0: 
  0:--- Comandos de Informação ---
  0:@servertime - Mostra a hora do servidor
 99:@ignorelist - Mostra a sua lista de "ignorados"
 40:@where <Nome_do_Jogador> - Retorna a localidade de um jogador
 40:@who - Mostra a lista de quem está online e onde estão
 40:@whogroup - Mostra a lista de quem está online e sua respectiva Party
 40:@whomap/@whomapgroup [mapa] - Igual ao @who e @whogroup mas somente para um mapa específico
 40:@whogm [match_text] - Igual ao @who, mas somente para GMs.
 60:@charstatsall - Mostra os stats de todos os jogadores.
 60:@charitemlist <Nome_do_Jogador> - Mostra todos os itens de um jogador.
 60:@charstoragelist <Nome_do_Jogador> - Mostra todos os itens do "Storage" de um jogador.
 60:@charcartlist <Nome_do_Jogador> - Mostra todos os itens do "Cart" de um jogador..
 99:@mapinfo [<0-3> [mapa]] - Retorna informações sobre um mapa (@mapinfo +: 0: Info gerais, 1: jogadores, 2: NPCs, 3: lojas/chat).
 99: 
 99:@guildspy <Nome_da_Guilda/id> - Você receberá todas as mensagens do canal da guilda -- Não tem suporte no TMW
 99:@partyspy <Nome_da_Party/id> - Você receberá todas as mensagens do canal da party
 60: 
 60:--- Comandos de Mensagem ---
 60:@broadcast <mensagem> - Mensagem Global com o nome do GM que a enviou
 60:@kami/@kamib <mensagem> - Mensagem Global sem o nome do GM que a enviou
 60:@localbroadcast <mensagem> - Mensagem Local com o nome do GM que a enviou
 40: 
 40:--- Comandos de mudança de estado do GM ---
 40:@die ---- suicida
 40:@hide - Torna o GM invisível para os monstros. Digite @hide novamente para retornar ao estado anterior.
 60:@invisible - Torna o GM completamente invisível.
 60:@visible - Torna o GM visível. (oposto de @invisible)
 40:@save - Salva o seu ponto de ressurreição no ponto em que você estiver.
 40:@return - Te transporta para o seu ponto de ressurreição.
 40:@warp <nomedomapa> <x> <y> - Te transporta para a posição indicada
 40:@jump - Te transporta randomicamente.
 40:@goto <Nome_do_Jogador> - Te transporta para a localidade do jogador indicado.
 40:@follow <Nome_do_jogador> - Segue o jogador indicado.
 40:@go <number/city_name> - Warps you to a city. -- Não tem suporte no TMW
 40:  -3: (Memo point 2)  1: morocc   5: izlude         9: yuno     13: niflheim
 40:  -2: (Memo point 1)  2: geffen   6: aldebaran     10: amatsu   14: louyang
 40:  -1: (Memo point 0)  3: payon    7: xmas (lutie)  11: gonryun  15: start point
 40:   0: prontera        4: alberta  8: comodo        12: umbala   16: prison/jail
 60:@hugo - Transporta o GM de Jogador para Jogador
 60:@linus - Transporta o GM de Jogador para Jogador na ordem inversa do comando @hugo
 40:
 40:@log/@l - Envia um texto para o log de comandos
 40:@tee/@t - Envia um texto para o log de comandos e para o chat local
 40: 
 60:@alive - Ressuscita o GM.
 40:@heal [<HP> <SP>] - Comando para o GM recuperar a quantidade de HP/SP desejada. Se nada for informado a cura é completa.
 40:
 60:@blvl <numero_de_levels> - Aumenta o seu lvl atual com a quantidade indicada. 255 é o máximo.
 60:@jlvl <numero_de_levels> - Aumenta o seu jlvl atual com a quantidade indicada. O máximo é 50 para classes básicas. Para "Super Novice" e classes avançadas o máximo é 70.
 60:@allskills - Você recebe todas as "Skills".
 80:@option <param1> <param2> <param3> - Adds different visual effects on or around your character  -- Não tem suporte no TMW
 80:	<param1>      <param2>      <p3>(stackable)   <param3>               <param3>
 80:	1 Petrified   (stackable)   01 Sight           32 Peco Peco riding   2048 Orc Head
 80:	2 Frozen      01 Poison     02 Hide            64 GM Perfect Hide    4096 Wedding Sprites
 80:	3 Stunned     02 Cursed     04 Cloak          128 Level 2 Cart       8192 Ruwach
 80:	4 Sleeping    04 Silenced   08 Level 1 Cart   256 Level 3 Cart
 80:	6 darkness    08 ???        16 Falcon         512 Level 4 Cart
 80:	              16 darkness                    1024 Level 5 Cart
 99:@mountpeco - Give/remove you a peco (Class is required, but not skill) -- Não tem suporte no TMW
 99:@disguise <monster_name_or_monster_ID> - Change your appearence to other players to a mob. -- Não tem suporte no TMW
 99:@undisguise - Restore your normal appearance. -- Não tem suporte no TMW
 99:@model <ID_cabelo: 0-17> <Cor_Cabelo: 0-8> <Cor_roupa: 0-4> - Muda sua aparência.
 40:@dye/@ccolor <clothes color: 0-4> - Changes your characters appearence (only clothes color).
 40:@hairstyle <ID_cabelo: 0-17> - Muda o estilo de cabelo.
 40:@haircolor <Cor_cabelo: 0-8> - Muda a cor do cabelo.
 40:@speed <1-1000> - Muda sua velocidade. 1 é o mais rápido e 1000 o mais lento. O normal é 150.
 99:@effect <ID_efeito> [flag] - Dá ao jogador o efeito especificado.
 60:@dropall - Joga tudo o que você possui no chão.
 60:@storeall - Coloca tudo o que você possui no storage.
 60:@killable - Faz com que você se torne "atacável" por outros jogadores.
 60:@stpoint <número_de_pontos> - Dá ao GM o número informado de pontos de stat.
 60:@skpoint <número_de_pontos> - Dá ao GM o número informado de pontos de skill.
 80:@zeny <quantidade> - Te dá a quantidade desejada de dinheiro.
 60:@str,@agi,@vit,@int,@dex,@luk <quantidade> - Aumenta a quantidade informada em cada stat especificado.
 60:@allstats [quantidade] - Adiciona o valor informado em todos os stats (o máximo se não for informado um valor).
 99:@memo [memo_position] - set/change a memo location (no position: display memo points).
 99:@questskill <#> - Gives you the specified quest skill
 80:@lostskill <#> - Takes away the specified quest skill from you
 60:@skillid <nome> - Procura o ID de uma skill a partir de um nome.
 60:@useskill <skillid> <skillv> <target> - usa uma skill em um alvo.
 80:@addwarp <Nome do Mapa> <x> <y>
 60: 
 60:--- Comandos de Monstros ---
 60:@spawn <Nome_do_monstro_ou_ID_do_monstro> [<quantidade> [<x> [<y>]]]
 60:@summon <Nome_do_monstro_ou_ID_do_monstro> [<quantidade> [<nome_desejado_para_o_monstro> [<x> [<y>]]]]
 60:@killmonster [mapa] - Mata todos os monstros do mapa (com os "drops")
 60:@killmonster2 - Mata todos os monstros do mapa (sem os "drops")
 40: 
 40:--- Comandos de item ---
 40:@storage - Abre o storage
 99:@gstorage - Abre o storage de uma guilda -- não tem suporte no TMW
 80:@item <nome ou ID> <quantidade> - Cria o item desejado.
 40:@itemreset - Remove todos os seus itens.
 80:@itemcheck - Checa seus inventário por itens autorizados.
 80:@idsearch <parte_do_nome_de_um_item> - Procura todos os itens que tem "parte_do_nome_de_um_item".
 60:@produce <nome ou ID do equipamento> <elemento> <# of very's>
 60:	Elemento: 0=nenhum 1=Gelo 2=Terra 3=Fogo 4=Vento
 60:	-- Apenas parcialmente suportado no TMW.
 60: 
 60:--- Comandos de PVP ---
 60:@pvpon - Liga o PVP no mapa atual
 60:@pvpoff - Desliga o PVP no mapa atual
 99:@gvgon/@gpvpon - Turns gvg on on the current map -- Não tem suporte no TMW
 99:@gvgoff/@gpvpoff - Turns gvg off on the current map -- Não tem suporte no TMW
 99:@agitstart - Starts War of Emperium -- Não tem suporte no TMW
 99:@agitend - End War of Emperium -- Não tem suporte no TMW
 99: 
 99:--- Comandos de grupo ---
 99:@party <party_name> - Cria uma party.
 99:@guild <guild_name> - Cria uma guilda.  -- Não tem suporte no TMW
 99:@guildlvl <# of levels> - Raise Guild by desired number of levels -- Não tem suporte no TMW
 99:@guildrecall <guild_name/id> - Warps all online characters of a guild to you. -- Não tem suporte no TMW
 99:@partyrecall <Nome_da_party/id> - Transporta todos os membros da party para onde você está.
 40: 
 40:--- Comandos usados em outros jogadores ---
 60:@kill <Nome_do_Jogador> - Mata o Jogador.
 60:@charkillable <Nome_do_Jogador> - Faz com que um jogador se torne "atacável" por outros jogadores.
 60:@chardropall <Nome_do_Jogador> - Joga tudo o que um jogador possui(inventário) no chao.
 60:@charstoreall <Nome_do_Jogador> - Coloca todo o inventário do jogador no storage
 60:@recall <Nome_do_Jogador> - Transporta o jogador para onde você está.
 80:@recallall - Transporta todos os jogadores para onde você está.
 60:@charwarp <mapa> <x> <y> <Nome_do_Jogador> - Transporta o jogador para o local indicado
 60:@revive <Nome_do_Jogador> - Revive o jogador.
 40:@charstats <Nome_do_Jogador> - Mostra os stats do jogador.
 99:@charignorelist <Nome_do_Jogador> - Mostra a lista de "ignorados" do jogador.
 60:@inall <Nome_do_Jogador> - Permite que o jogador receba whispers.
 60:@exall <Nome_do_Jogador> - Bloqueia recebimento de whispers pelo jogador.
 80:@charoption <param1> <param2> <param3> <Nome_do_jogador> - Igual ao @option, mas para o jogador indicado.
 99:@charmountpeco <Nome_do_jogador> - Give/remove to a player a peco (Class is required, but not skill). -- Não tem suporte no TMW
 60:@charsave <mapa> <x> <y> <Nome_do_jogador> - Muda o ponto de salvamento do jogador.
 60:@charblvl <lvl> <nome> - Muda o level de um jogador.
 60:@charjlvl <jlvl> <nome> - Muda o jlvl de um jogador.
 80:@charzeny <quantidade> <nome> - Dá ou tira(valor negativo) dinheiro para/do jogador.
 60:@charstpoint <quantidade> <nome> - Dá ou tira pontos de stats para/do jogador
 60:@charskpoint <quantidade> <nome> - Dá ou tira pontos de skills para/do jogador
 60:@charskreset <Nome_do_jogador> - Reseta skills do jogador.
 60:@charstreset <Nome_do_jogador> - Reseta stats do jogador.
 60:@charreset <Nome_do_jogador> - Reseta stats E skills do jogador.
 99:@charquestskill <#> <Nome_do_jogador> - Gives to a player the specified quest skill. -- Não tem suporte no TMW
 99:@charlostskill <#> <Nome_do_jogador> - Takes away the specified quest skill from the player. -- Não tem suporte no TMW
 60:@chardelitem <nome_ou_ID> <quantidade> <jogador> - Remove itens de um jogador
 99:@charmodel <Tipo de cabelo> <Cor cabelo> <Cor roupa> <jogador> - Muda a aparência do jogador
 99:@chardisguise <monster_name_or_monster_ID> <Nome_do_Jogador> - Changes disguise of a player  -- Não tem suporte no TMW
 99:@charundisguise <Nome_do_Jogador> - Cancels disguise of a player  -- Não tem suporte no TMW
 60:@charchangesex <nome> - Muda o sexo do jogador (todos os chars da conta)
 60:@block <nome> - Bloqueia permanentemente uma conta
 60:@unblock <nome> - Desbloqueia uma conta
 60:@ban <tempo> <nome> - Bane uma conta temporariamente
 60:	Uso do tempo: ajuste (+/- valor) e elemento (y/a(ano), m(mes), d/j(dia), h(hora), mn(minutos), s(segundos))
 60:	Exemplo: @ban +1m-2mn1s-6y teste
 60:@unban <nome> - Desbanir uma conta
 60:@jail <Nome_do_jogador> - Sends specified character in jails -- Não tem suporte no TMW
 60:@unjail <Nome_do_jogador> - Discharges specified character/prisoner -- Não tem suporte no TMW
 60:@trade <Nome_do_jogador> - Abre uma janela de trade com o jogador.
 40:@kick <Nome_do_jogador> - Desconecta o jogador do servidor.
 99:@kickall - Desconecta todos os jogadores do servidor
 99:@mapexit - Desconecta todos os jogadores do servidor e reinicia o mapserver.
 80:@doom - Mata todos os jogadores que não são GMs no servidor.
 80:@doommap - Mata todos os jogadores que não são GMs no mapa.
 80:@raise - Ressuscita todos os jogadores do servidor.
 80:@raisemap - Ressuscita todos os jogadores do mapa.
 80: 
 80:--- Comandos de ambiente ---
 80:@night - Uses @option 00 16 00 on all characters. All characters are in darkness. -- Não tem suporte no TMW
 80:@day - Uses @option 00 00 00 on all characters. -- Não tem suporte no TMW
 80:@skillon - Liga skills em um mapa
 80:@skilloff - Desliga skills em um mapa
 80: 
 80:--- Comandos de administração ---
 99:@reloaditemdb - Recarrega database de itens (admin)
 99:@reloadmobdb - Recarrega database de monstros (admin)
 99:@reloadskilldb - Recarrega database de skills (admin)
 99:@reloadscript - Recarrega todos os scripts (admin)
 99:@reloadgmdb - Recarrega definições de nível de GMs (admin)
 99:@adjgmlvl - Faz um ajuste temporário no nível GM de um jogador (admin)
 99:@adjcmdlvl - Faz um ajuste temporário no nível GM de um comando (admin)
 80:@enablenpc <Nome_NPC> - Habilita um NPC (admin)
 80:@disablenpc <Nome_NPC> - Desabilita um NPC (admin)
 80:@npcmove
 80: 
 99:@gat - Para debug (Você inspeciona o "gat")
 99:@packet - Para debug (Variedade de pacotes)
 99: 
100:@GM <password> - it becomes GM!  -- Não tem suporte no TMW
